* text=auto eol=lf
src/Nethermind.Crypto.SecP256k1/runtimes/**/*.dll filter=lfs diff=lfs merge=lfs -text
src/Nethermind.Crypto.SecP256k1/runtimes/**/*.dylib filter=lfs diff=lfs merge=lfs -text
src/Nethermind.Crypto.SecP256k1/runtimes/**/*.so filter=lfs diff=lfs merge=lfs -text
